@font-face {
  font-family: 'nextaff';
  src: url('#{$fonts-path}/nextaff.woff2?74527005') format('woff2'),
       url('#{$fonts-path}/.woff?74527005') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'nextaff';
    src: url('../font/nextaff.svg?74527005#nextaff') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "nextaff";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  // width: 1em;
  // margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  // margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-attitude:before { content: '\e800'; } /* '' */
.icon-automated-flows:before { content: '\e801'; } /* '' */
.icon-back-office:before { content: '\e802'; } /* '' */
.icon-discovery-day:before { content: '\e803'; } /* '' */
.icon-experience:before { content: '\e804'; } /* '' */
.icon-fair-royalty:before { content: '\e805'; } /* '' */
.icon-flexible-hours:before { content: '\e806'; } /* '' */
.icon-franchise-agreement:before { content: '\e807'; } /* '' */
.icon-franchise-application:before { content: '\e808'; } /* '' */
.icon-full-opportinuty:before { content: '\e809'; } /* '' */
.icon-growing-industry:before { content: '\e80a'; } /* '' */
.icon-information-request:before { content: '\e80b'; } /* '' */
.icon-liquid-assets:before { content: '\e80c'; } /* '' */
.icon-major-accounts:before { content: '\e80d'; } /* '' */
.icon-net-worth:before { content: '\e80e'; } /* '' */
.icon-payroll-financing:before { content: '\e80f'; } /* '' */
.icon-professional:before { content: '\e810'; } /* '' */
.icon-proprietary-methods:before { content: '\e811'; } /* '' */
.icon-proven-system:before { content: '\e812'; } /* '' */
.icon-reviews:before { content: '\e813'; } /* '' */
.icon-training:before { content: '\e814'; } /* '' */